@font-face {
    font-family: 'HeyWowHeading'; /* Choose a descriptive name */
    src: url('fonts/HeyWowRegular.ttf') format('truetype'); /* Include other formats if available */
    font-weight: 500; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
  }
  
  @font-face {
    font-family: 'HeyWowBody'; /* Choose a descriptive name */
    src: url('fonts/HeyWowLight.ttf') format('truetype'); /* Include other formats if available */
    font-weight: 400; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
  }
  